
{% extends 'a.html' %}
{%block title %} Create a new blog post{%endblock%}
{% block content %}
<style>
  button{
    background-color:rgb(160,122,220);
  }
  section,h2{
    margin:20px;
  }
  size {
    width:50%;
    }
    .size{
      width:70%;
    }
    body{
      font-family:'Times New Roman';
  }

</style>
<body>
<h2>Add Blog Post</h2>
<br>
<section>
  <div class="size">
<div class="size">
<div class='form-group size'>
  <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
    <button>Post</button>
</div>
</div>
</div>
  {% endblock %}
</section>
</body>