
{% extends 'a.html' %}
{%block title %} Delete a blog post{%endblock%}
{% block content %}
<style>
  button{
    background-color:rgb(160,122,220);
  }
  section,h1{
    margin:20px;
  }
  size {
    width:50%;
    }
    h2{
        font-style:'Times New Roman';
    }
</style>

<h1>Delete Blog Post</h1>
<br>
<h2>Delete: {{ post.title }}</h2>
<br>
<section>
<div class="size">
<div class='form-group size'>
  <form method="POST">
      {% csrf_token %}
    <button>Delete</button>
</div>
</div>
  {% endblock %}
</section>