
{% extends 'a.html' %}
{%block title %} Delete a blog post{%endblock%}
{% block content %}
<style>
  button{
    background-color:rgb(160,122,220);
  }
  section,h2,h3{
    margin:20px;
  }
  size {
    width:50%;
    }
    body{
        font-family:'Times New Roman';
       
    }
</style>
<body>
  {% if user.is_authenticated %}
<h3>Delete: {{ post.title }}</h3>
<br>
<section>
<div class="size">
<div class='form-group size'>
  <form method="POST">
      {% csrf_token %}
    <small><button>Delete</button></small>
</div>
</div>
{% else %}

Please login to delete post

{% endif %}
  {% endblock %}
</section>
</body>