
{% extends 'a.html' %}
{%block title %} edit a blog post{%endblock%}
{% block content %}
<style>
  button{
    background-color:rgb(160,122,220);
  }
  section,h1{
    margin:20px;
  }
  size {
    width:50%;
    }
</style>
{% if user.is_authenticated %}
<h1>Edit Blog Post</h1>
<br>
<section>
<div class="size">
<div class='form-group size'>
  <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
    <small><button>Edit</button></small>
</div>
</div>
{% else %}

Please login to edit post

{% endif %}
  {% endblock %}
</section>