<!DOCTYPE html> 
<html lang="'en">
<head>
    <style>
        h1{
            color:rgb(75,53,73);
            text-align:center;
        }
        li{
           
            padding:10px;
    
        }
        div{
            
            color:rgb(81,54,36);
            
        }
        button{
            width:65px;
            height:40px;
        }
    </style>
<meta charset="UTF-8">
<meta name="viewport", content="width=device-width, initial-scale=1.0">
<title> Blog Platform</title>

</head>
<body>
    <div>  
        {% extends "a.html" %}
        {%block content%}


    
<h1>My Blog App</h1>

<ul>
  {% for post in object_list %}
    <li><a href="{% url 'post detail' post.pk %}">{{post.title}}</a> -{{post.author.first_name}} <br><a href="{% url 'Edit Post' post.pk %}"><button type="button" class="btn btn-info">Edit</button></a> <a href="{% url 'Delete Post' post.pk %}"><button type="button" class="btn btn-info">Delete</button></a></li>
   
  
    {{post.body}}

   
  {%endfor%}
  {% endblock %}
</div>
</body>
</html>
