<!DOCTYPE html> <!--shows the version of HTML-->
<html lang="'en"> <!--shows the language used-->
<head>
    <style>
        h1{
            color:rgb(75,53,73);
          
        }
       h4{
            margin:10px;
        }
        div{
            font-family:'Times New Roman';
        }
      
    </style>
<meta charset="UTF-8">
<meta name="viewport", content="width=device-width, initial-scale=1.0">
{% extends "a.html" %}
{%block content%}

<div class="container">
<h1>{{post.title}}</h1>
<h4>By: {{post.author.first_name}}</h4>
{% if user.is_authenticated %}
    <a href="{% url 'Edit Post' post.pk %}"><small><button type="button" class="btn btn-info">Edit</button></small></a> <a href="{% url 'Delete Post' post.pk %}"><small><button type="button" class="btn btn-info">Delete</button></small></a>
    
{% endif %}  
{{post.body}}


<br>
<br>
  <a href="{%url 'home' %}" class="btn btn-success">Back to home</a>
</div>
  {% endblock %}